<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Show message</title>
</head>
<body>
  <h2>千葉県</h2>
  <table>
      <% for( let row of data ) { %>
        <tr>
            <td><%= row.id %></td>
            <td><%= row.一次産業人口 %></td>
           <td><%= row.二次産業人口 %></td>
          　<td><%= row.三次産業人口 %></td>
        </tr>
      <% } %>
  </table>
</body>
</html>