<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Show message</title>
</head>
<body>
  <h2>千葉県市町村検索ページ</h2>
  <p><%= mes %></p>
  
  <a href="/public/input01.html">人口の多い順に都道府県を表示する</a><br>
  <a href="/public/input02.html">人口の少ない順に都道府県を表示する</a>
</body>
</html>