<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>千葉県市町村検索ページ</title>
</head>
<body>
  <h2>千葉県市町村検索ページ</h2>
  <p><%= mes %></p>
  <a href="/db">千葉県市町村データ</a><br><br>
  
  <a href="/public/input01.html">人口の少ない(多い)順に市町村を表示する</a><br>
  <a href="/public/input02.html">面積の小さい(大きい)順に市町村を表示する</a><br><br>

   <a href="/db2">市町村産業別人口データ</a><br><br>
</body>
</html>